<script>
    //Inserto de datos
   // var tipo = "";
   //   $(function(){
   //      $('select[name="Tipo"]').on('change', function (){
   //          var nm = $(this).children("option:selected").text();
   //          tipo = nm;
   //          return nm;
   //      })
   //  })

    $("#btnsave").click(function (){
        output = "";
        let did = $("#depid").val();
        let tp = $("#id_Tipo").children("option:selected").text();
        let nm = $("#nombreid").val();
        let ps = $("#pisoid").val();
        let dp = $("#dependenciaid").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        if(nm ==""){
            $("#msga").text("Por favor ingrese un nombre");
            $("#msga").show();
        }else if(ps == ""){
            $("#msga").text("Por favor ingrese un piso");
            $("#msga").show();
        }else if(dp == ""){
            $("#msga").text("Por favor ingrese una dependencia");
            $("#msga").show();
        }else if(tp == ""){
            $("#msga").text("Por favor seleccion una opcion");
            $("#msga").show();
        }else{

            mydata = {
                depid: did ,
                tipo: tp,
                nombre:nm,
                piso: ps,
                dependencia: dp,
                csrfmiddlewaretoken: csr
            };
            console.log(mydata)
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data: mydata,
                success:function (data){
                    x = data.depart_data;
                    console.log(data);
                    if(data.status == "Save"){
                        $("#msg").text("Formulario enviado con éxito");
                        $("#msg").show();
                        //console.log(x);
                        for(i=0; i < x.length; i++){
                            output +=
                                "<tr><td>" +
                                x[i].id +
                                "</td><td>" +
                                x[i].tipo +
                                "</td><td>" +
                                x[i].nombre +
                                "</td><td>" +
                                x[i].piso +
                                "</td><td>" +
                                x[i].dependencia +
                                "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-did=" +
                                x[i].id +
                                "> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-did=" +
                                x[i].id +
                                ">";
                        }
                        $("#tbody").html(output);
                        $("#depid").val('');
                        $("form")[0].reset();
                    }else{
                        $("#msg").text("No se pueden guardar los datos");
                        $("#msg").show();
                        $("#depid").val('');
                        $("form")[0].reset();
                    }
                },
            });
        }
    });

    //Borrado de datos
    $("tbody").on("click", ".btn-del", function(){
        //console.log("Delete Button Clicked")
        let id = $(this).attr("data-did");
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        //console.log(id);
        mydata = {did:id, csrfmiddlewaretoken: csr};
        mythis = this;
        $.ajax({
            url:"{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success:function (data){
                //console.log(data);
                if(data.status == 1){
                    $("#msg").text("Datos borrados con éxito");
                    $("#msg").show();
                    $(mythis).closest("tr").fadeOut();
                }
                 if(data.status == 0){
                    $("#msga").text("No se pueden borrar los datos");
                    $("#msga").show();
                }
            },
        });
    });

    //Editar Datos
     $("tbody").on("click", ".btn-edit", function(){
        let id = $(this).attr("data-did");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {did:id, csrfmiddlewaretoken: csr};
        $.ajax({
            url:"{% url 'edit' %}",
            method: "POST",
            data: mydata,
            dataType: "json",
            success:function (data){
                //console.log(data);
                $("#depid").val(data.id);
                $('select[name=Tipo] option:first').html(data.tipo);
                $("#nombreid").val(data.nombre);
                $("#pisoid").val(data.piso);
                $("#dependenciaid").val(data.dependencia);
            },
        });
    });
</script>



