<script>

    var operacion='save';
    var departamento='';

    $("#btnsave").click(function (){
        output = "";
        let did = $("#depid").val();
        let tp = $("#id_Tipo").children("option:selected").text();
        let nm = $("#nombreid").val();
        let ps = $("#pisoid").val();
        let dp = $("#id_Dependencia").children("option:selected").text();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        if(nm ==""){
            $("#msga").text("Por favor ingrese un nombre");
            $("#msga").show()
        }else if(ps == ""){
            $("#msga").text("Por favor ingrese un piso");
            $("#msga").show()
        }else if(tp == ""){
            $("#msga").text("Por favor seleccion una opcion");
            $("#msga").show()
        }else{

            mydata = {
                depid: did ,
                tipo: tp,
                nombre:nm,
                piso: ps,
                dependencia: dp,
                csrfmiddlewaretoken: csr
            };
            $.ajax({
                url: "{% url 'savedepartamento' %}",
                method: "POST",
                data: mydata,
                success:function (data){
                    x = data.depart_data;
                    if(data.status == "Save"){
                        $('#msga').hide();
                        $("#formDepa")[0].reset();
                        for(i=0; i < x.length; i++){
                            output +=

                                "<tr><td>" +
                                x[i].id +
                                "</td><td>" +
                                x[i].tipo +
                                "</td><td>" +
                                x[i].nombre +
                                "</td><td>" +
                                x[i].piso +
                                "</td><td>" +
                                x[i].dependencia +
                                "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-did=" +
                                x[i].id +
                                "> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-did=" +
                                x[i].id +
                                ">";
                        }
                        $("#tbody").html(output);
                        if(operacion=='save'){
                            $('#id_Dependencia').append('<option value="'+mydata.nombre+'">'+mydata.nombre+'</option>');
                            $('#msg').text("Formulario guardado con exito");
                            $('#msg').fadeIn();
                            setTimeout(function() {
                                $("#msg").fadeOut();
                            },2000);
                        }else if(mydata.nombre != departamento){
                            location.reload();
                            $('#msg').text("Formulario actualizado con exito");
                            $('#msg').fadeIn();
                            setTimeout(function() {
                                $("#msg").fadeOut();
                            },2000);
                        }
                        $("#depid").val('');
                    }else{
                        $('#msg').hide();
                        $("#msga").text("No se pueden guardar los datos");
                        $("#msga").show();
                        $("#depid").val('');
                        $("#formDepa")[0].reset();
                    }
                },
            });
        }
    });

    //Borrado de datos
    $("tbody").on("click", ".btn-del", function(){
        var currentRow=$(this).closest("tr");
        let id = $(this).attr("data-did");
        let no = currentRow.find("td:eq(2)").text();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {did:id ,csrfmiddlewaretoken: csr};
        mythis = this;
        $.ajax({
            url:"{% url 'deletedepartamento' %}",
            method: "POST",
            data: mydata,
            success:function (data){
                if(data.status == 1){
                    $("#msg").text("Datos borrados con éxito");
                    $("#msg").show();
                    location.reload();
                    $(mythis).closest("tr").fadeOut();
                }else{(data.status == 0)
                    $("#msga").text("No se pueden borrar los datos");
                    $("#msga").show();
                }
            },
        });
    });

    //Editar Datos
     $("tbody").on("click", ".btn-edit", function(){$("#formDepa")[0].reset();
        let id = $(this).attr("data-did");
        var currentRow=$(this).closest("tr");
        let ti = currentRow.find("td:eq(1)").text();
        let no = currentRow.find("td:eq(2)").text();
        let de = currentRow.find("td:eq(4)").text();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        mydata = {did:id, de:de ,csrfmiddlewaretoken: csr};
        $.ajax({
            url:"{% url 'editdepartamento' %}",
            method: "POST",
            data: mydata,
            dataType: "json",
            success:function (data){
                $("#depid").val(data.id);
                $("#id_Tipo").val(ti).change();
                if(de=='0'){
                    $("#id_Dependencia").val('').change();
                }else{
                    $("#id_Dependencia").val(data.selnombre).change();
                }
                $("#nombreid").val(data.nombre);
                $("#pisoid").val(data.piso);
                operacion = 'edit';
                departamento = no;
            },
        });
    });
</script>



